.question-wrapper {
    background: blue;
    height: 100px;
    max-width: 100px;
    border: 2px solid black;
}

.question-wrapper a, .question-wrapper a:hover {
    color: #fdc828 !important;
    font-size: 20px;
}

.question-wrapper.viewed a {
    display: none;
}
